<section class="hero bg-orange">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head ">
    <nav class="navbar">
      <div class="container">
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a
              class="navbar-item  has-text-white	has-text-weight-bold"
              (click)="showFavs = false"
            >
              Home
            </a>
            <a
              class="navbar-item has-text-white	has-text-weight-bold"
              (click)="showFavs = true"
            >
              Favourites
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-white">
        The beer bank
      </h1>
      <h2 class="subtitle has-text-white">
        Find your favourite beers here
      </h2>

      <div class="columns">
        <div class="column"></div>
        <div class="column">
          <input class="input" type="text" (keyup)="searchTerm$.next($event.target.value)" placeholder="Search for beer name"  />
        </div>
        <div class="column"></div>
      </div>
    </div>
  </div>
</section>

<app-beer-list [beers]="beers"></app-beer-list>

<!--<app-beer-list [showFavs]="showFavs" [term]="term"></app-beer-list>-->
